<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fas fa-user" aria-hidden="true"></i> Sireesha
    </a>
    <div class="navbar-toggle" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="navbar-menu" [class.show]="isMenuOpen">
      <li><a href="#home"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="#about"><i class="fas fa-user"></i> About</a></li>
      <li><a href="#skills"><i class="fas fa-cogs"></i> Skills</a></li>
      <li><a href="#contact"><i class="fas fa-envelope"></i> Contact</a></li>
    </ul>
  </div>
</nav>
